#board {
  width: 100vw;
  height: 90vh;
  background-color: green;
  position: relative;
}

#deck-busy > img {
  position: absolute;
  top: calc(100% / 2 - 95.5px);
  left: calc(100% / 2 - 62px);
  width: 124px;
  visibility: hidden;
}

#deck > img {
  position: absolute;
  top: calc(100% / 2 - 95.5px);
  left: calc(100% / 2 - 62px);
  width: 124px;
}

#deck > img:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#deck > img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#top-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: calc(100% / 2 - 248px);
  width: auto;
  transform: rotate(180deg);
}

#right-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(100% / 2 - 248px);
  right: 189.48px;
  width: auto;
  transform-origin: top right;
  transform: rotate(-90deg);
}

#bottom-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: calc(100% / 2 - 248px);
  width: auto;
}

#left-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(100% / 2 - 248px);
  left: 189.48px;
  width: auto;
  transform-origin: top left;
  transform: rotate(90deg);
}

#score-div {
  width: auto;
  height: auto;
  position: absolute;
  top: calc(100% / 2 - 65px);
  left: calc(100% / 2 + 80px);
  border: 1px solid;
  border-image: linear-gradient(
      45deg,
      rgb(0, 143, 104),
      rgb(250, 224, 66),
      rgb(250, 66, 112),
      rgb(66, 182, 250)
    )
    1;
}

#score {
  background-color: white;
  font-family: Roboto;
  padding: 10px;
}

#score > tbody tr > td:first-child {
  text-align: left;
  margin-right: 5px;
}

#score > tbody tr > td:last-child {
  text-align: right;
}

#score > tbody > tr > td:nth-child(2),
#score > tbody > tr > td:nth-child(3),
#score > tbody > tr > td:nth-child(4),
#score > tbody > tr > td:nth-child(5),
#score > tbody > tr:nth-child(2) > td:nth-child(2),
#score > tbody > tr:nth-child(2) > td:nth-child(3),
#score > tbody > tr:nth-child(2) > td:nth-child(4),
#score > tbody > tr:nth-child(2) > td:nth-child(5),
#score > tbody > tr:nth-child(3) > td:nth-child(2),
#score > tbody > tr:nth-child(3) > td:nth-child(3),
#score > tbody > tr:nth-child(3) > td:nth-child(4),
#score > tbody > tr:nth-child(3) > td:nth-child(5),
#score > tbody > tr:nth-child(4) > td:nth-child(2),
#score > tbody > tr:nth-child(4) > td:nth-child(3),
#score > tbody > tr:nth-child(4) > td:nth-child(4),
#score > tbody > tr:nth-child(4) > td:nth-child(5) {
  width: 20px;
  text-align: center;
}

#green-check {
  color: green;
}

#orange-check {
  color: orange;
}

#red-cross {
  color: red;
}

.front-card {
  width: 124px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#arrow {
  font-size: 125px;
  position: absolute;
  top: calc(100% / 2 - 65px);
  left: calc(100% / 2 - 200px);
  animation: arrowshake 3s;
  color: white;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  animation-iteration-count: infinite;
}

#name-bottom,
#name-right,
#name-left,
#name-top {
  position: absolute;
  top: -12%;
  left: calc(100% / 2 - 50px);
  width: 100px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  font-family: Roboto;
  border: 1px solid;
  border-image: linear-gradient(
      45deg,
      rgb(0, 143, 104),
      rgb(250, 224, 66),
      rgb(250, 66, 112),
      rgb(66, 182, 250)
    )
    1;
}

#name-top {
  transform: rotate(180deg);
}
