#first-prompt,
#second-prompt,
#third-prompt,
#fourth-prompt,
#end-of-game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px) opacity(100%);
  position: absolute;
  top: 30%;
  left: 30%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 10;
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      rgb(0, 143, 104),
      rgb(250, 224, 66),
      rgb(250, 66, 112),
      rgb(66, 182, 250)
    )
    1;
  border-radius: 10px;
  visibility: hidden;
}

#first-prompt-cards,
#second-prompt-btn,
#third-prompt-btn {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

#first-prompt-cards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}

#first-prompt-cards div:nth-child(1) p {
  color: red;
}

#first-prompt-cards div p:hover {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#first-prompt-cards img {
  width: 100px;
  margin-bottom: 5px;
}

#first-prompt-cards img:hover {
  width: 100px;
  margin-bottom: 5px;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#fourth-prompt img {
  width: 75px;
}

#higher-card-btn {
  font-family: Roboto;
  width: 200px;
  height: 75px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(143, 17, 0), rgb(250, 149, 66)) 1;
}

#higher-card-btn:hover {
  background: linear-gradient(45deg, rgb(143, 17, 0), rgb(250, 149, 66));
  color: white;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#higher-card-btn:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#inferior-card-btn {
  font-family: Roboto;
  width: 200px;
  height: 75px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(76, 143, 0), rgb(105, 196, 45)) 1;
}

#inferior-card-btn:hover {
  background: linear-gradient(45deg, rgb(76, 143, 0), rgb(105, 196, 45));
  color: white;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#inferior-card-btn:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#inside-card-btn {
  font-family: Roboto;
  width: 200px;
  height: 75px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(14, 180, 209), rgb(12, 125, 160)) 1;
}

#inside-card-btn:hover {
  background: linear-gradient(45deg, rgb(14, 180, 209), rgb(12, 125, 160));
  color: white;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#inside-card-btn:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#outside-card-btn {
  font-family: Roboto;
  width: 200px;
  height: 75px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(143, 0, 19), rgb(196, 45, 146)) 1;
}

#outside-card-btn:hover {
  background: linear-gradient(45deg, rgb(143, 0, 19), rgb(196, 45, 146));
  color: white;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#outside-card-btn:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
