.question {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#end-list {
  font-family: Roboto;
  text-transform: uppercase;
}

#end-list li:nth-child(1) {
  color: green;
}
#end-list li:nth-child(2) {
  color: orange;
}
#end-list li:nth-child(3) {
  color: red;
}

#restart-btn {
  font-family: Roboto;
  width: 200px;
  height: 75px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(224, 136, 22), rgb(250, 87, 66)) 1;
}

#restart-btn:hover {
  background: linear-gradient(45deg, rgb(224, 136, 22), rgb(250, 87, 66));
  color: white;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#restart-btn:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
