@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("./ranking.css");
@import url("./welcome.css");
@import url("./instructions.css");
@import url("./prompt.css");
@import url("./animations.css");
@import url("./top-bar.css");
@import url("./board.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
