#welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 10;
  border: 10px solid;
  border-image: linear-gradient(
      45deg,
      rgb(0, 143, 104),
      rgb(250, 224, 66),
      rgb(250, 66, 112),
      rgb(66, 182, 250)
    )
    1;
  border-radius: 10px;
}

#welcome-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-top #welcome-to-intro {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

#what-do-you-want {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#welcome-top p {
  font-family: Roboto;
}

#start-btn {
  font-family: Roboto;
  width: 200px;
  height: 75px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(66, 250, 250)) 1;
}

#start-btn:hover {
  background: linear-gradient(45deg, rgb(0, 143, 104), rgb(66, 250, 250));
  color: white;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#start-btn:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#instructions-btn {
  font-family: Roboto;
  width: 200px;
  height: 75px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 5px solid;
  border-image: linear-gradient(45deg, rgb(224, 22, 180), rgb(167, 66, 250)) 1;
}

#instructions-btn:hover {
  background: linear-gradient(45deg, rgb(224, 22, 180), rgb(167, 66, 250));
  color: white;
  transform: scale(0.97);
  transition: transform 0.2s;
}

#instructions-btn:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

#logo img {
  animation: growth 1s infinite;
  width: 200px;
}
